In [2]:
!bitter tweet get_all lista-tweets.csv

In [3]:
import os

In [6]:
import pandas as pd

In [9]:
df = pd.read_csv('untitled.txt', names=['id', 'label'])

In [10]:
df

                   id   label
0  631659865748860929  ironic
1  602202801092038656  ironic

In [14]:
get_text(631659865748860929)

In [30]:
import json
import os

def get_text(tweetid):
    tweetfile = 'tweets/{}.json'.format(tweetid)
    if not os.path.exists(tweetfile):
        return ""
    return json.load(open(tweetfile))['text']

In [31]:
get_text(631659865748860929)

'Uy que emoción! #sarcasmo #noquiero #yatienesuno :( @Cris_baoc  https://t.co/Roe4H1D4d6'

In [32]:
df['text'] = df['id'].apply(get_text)

In [33]:
df

,id,label,text
0,631659865748860929,ironic,Uy que emoción! #sarcasmo #noquiero #yatienesu...
1,602202801092038656,ironic,

In [34]:
df[df['text'] != ""]

,id,label,text
0,631659865748860929,ironic,Uy que emoción! #sarcasmo #noquiero #yatienesu...